name: PSGallery
on:
  release:
    types: [published]
jobs:
  psgallery_publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        
      - name: Publishing
        run: |
                    Publish-Script -Path '.\JV-ServerInventoryReport.ps1' -NuGetApiKey ${{ secrets.PSGALLERY_API_KEY }}
        shell: pwsh
